@model CamSistemWebArayuz.Models.Teklif4Pdf

<table id="pdfYazdirStoktan" class="table table-bordered">
    <thead>
        <tr>
            <td colspan="3" rowspan="3" class="align-middle"><img src="~/images/icons/icon.jpeg" /></td>
            <td colspan="4">ANKARA</td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="4">TEL. 0312 000 00 00 - CEP: 0530 000 00 00</td>
            <td></td>
            <td colspan="4">PROFORMA TEKLİF</td>
        </tr>
        <tr>
            <td colspan="4">mail@mail.com</td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="12">İstemiş olduğunuz &uuml;r&uuml;nlerimizle ilgili teklifimiz aşağıda bilgilerinize sunulmuştur. Firmamıza ve firmamız &uuml;r&uuml;nlerine g&ouml;stermiş olduğunuz ilgi ve g&uuml;vene teşekk&uuml;r eder birlikte &ccedil;alışmak &uuml;midiyle işlerinizde başarılar dileriz.</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2" class="align-middle text-right">Tarih:</td>
            <td colspan="2" class="align-middle">@Html.Raw(string.Format("{0:dd/MM/yyyy}", Model.Tarih))</td>
            <td></td>
        </tr>
        <tr>
            <td>Firma:</td>
            <td colspan="5">@Html.DisplayFor(modelItem => Model.Firma)</td>
            <td></td>
            <td colspan="2" class="align-middle text-right">Sipariş No:</td>
            <td colspan="2" class="align-middle">@Html.DisplayFor(modelItem => Model.SiparisNo)</td>
            <td></td>
        </tr>
        <tr>
            <td>Adres:</td>
            <td colspan="5">@Html.DisplayFor(modelItem => Model.Adres)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Telefon:</td>
            <td colspan="5">@Html.DisplayFor(modelItem => Model.Telefon)</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="6">Yorumlar veya &Ouml;zel Y&ouml;nergeler:</td>
            <td></td>
            <td></td>
            <td colspan="3">@Html.DisplayFor(modelItem => Model.TeklifTur)</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td class="align-middle">ÜRÜN AÇIKLAMASI</td>
            <td class="align-middle">CAM KOMBİNASYON</td>
            <td class="align-middle">AKSESUAR SETİ</td>
            <td class="align-middle">BAĞLANTI SİSTEMİ</td>
            <td class="align-middle">ADET</td>
            <td class="align-middle">EN</td>
            <td class="align-middle">BOY</td>
            <td class="align-middle">ALAN</td>
            <td class="align-middle">B.FİYAT</td>
            <td class="align-middle" colspan="2">T.TUTAR TL</td>
        </tr>
        @foreach (var item in Model.RuzgarKiriciList)
        {
            <tr>
                <td></td>
                <td class="align-middle">@Html.DisplayFor(modelItem => item.ortak.UrunAciklama)</td>
                <td class="align-middle">@Html.DisplayFor(modelItem => item.CamKombinasyon)</td>
                <td class="align-middle">@Html.DisplayFor(modelItem => item.AksesuarSet)</td>
                <td class="align-middle">@Html.DisplayFor(modelItem => item.BaglantiSistem)</td>
                <td class="align-middle">@Html.DisplayFor(modelItem => item.ortak.Adet)</td>
                <td class="align-middle">@Html.Raw(string.Format("{0:0.00}", (double)item.En / 1000))</td>
                <td class="align-middle">@Html.Raw(string.Format("{0:0.00}", (double)item.Boy / 1000))</td>
                <td class="align-middle">@Html.Raw(string.Format("{0:0.00}", item.ortak.Alan))</td>
                <td class="align-middle">@Html.Raw(string.Format("{0:c2}", item.ortak.BirimFiyat))</td>
                <td class="align-middle" colspan="2">@Html.Raw(string.Format("{0:c2}", item.ortak.ToplamTutar))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="11" class="align-middle text-right">Toplam Tutar:</td>
            <td class="align-middle">@Html.Raw(string.Format("{0:c2}", Model.Toplam))</td>
        </tr>
        <tr>
            <td colspan="11" class="align-middle text-right">KDV % 20</td>
            <td class="align-middle">@Html.Raw(string.Format("{0:c2}", Model.KDV))</td>
        </tr>
        <tr>
            <td colspan="11" class="align-middle text-right">Genel Toplam:</td>
            <td class="align-middle">@Html.Raw(string.Format("{0:c2}", Model.GenelToplam))</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="9">
                Satışı yapılan t&uuml;m &uuml;r&uuml;nlerimiz d&uuml;nya genelinde kalitesini kanıtlamış ve t&uuml;m kalite sertifikalarına sahiptir.
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="12" class="align-middle text-center">HESAP NUMARAMIZ - IBAN : TR 00 0000 0000 0000 0000 0000 00</td>
        </tr>
        <tr>
            <td colspan="5"><img src="~/images/icons/kaliteicon.JPG" /></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="12">
                <p><strong>Sistem Satışı Teklif Genel Şartları;</strong></p>
                <ul type="1">
                    <li>Sevk işlemlerinin yapılabilmesi i&ccedil;in a&ccedil;ık hesaplarınızın acilen kapanması gerekmektedir.</li>
                    <li>Piyasalardaki hızlı değişimlerden dolayı verilen bu fiyatlar anlıktır. Son onaydan &ouml;nce fiyatların teyit edilmesi gerekmektedir.</li>
                    <li>Bedeli tamamen tahsil edilmemiş malzemeler i&ccedil;in, teslimat tarihindeki fiyatlar ge&ccedil;erlidir.</li>
                    <ul type="square">
                        <li>Verilen teklif fiyatları Nakit &ouml;deme baz alınarak hazırlanmıştır.</li>
                        <li>Kredi kartı ile taksitli &ouml;demelerde, vade farkı işleyecektir.</li>
                    </ul>
                    <li>Tarafımıza yazılı olarak onayı g&ouml;nderilmeyen siparişler değerlendirmeye alınmayacaktır.</li>
                    <li>Fiyatlarımız fabrika teslimdir.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">SİPARİŞ ONAYI</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>