@model IEnumerable<CamSistemDataLayer.Models.Siparis>
@using CamSistemDataLayer.Enums

@{
    ViewBag.Title = "CamSistem - Sipariş Yönetimi";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="~/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/jspdf.umd.js"></script>
<script src="~/Scripts/html2canvas.min.js"></script>
<script language="javascript" type="text/javascript">
    function SiparisDetayiGoruntule(_siparisId) {
        var url = '@Url.Action("StoktanSiparisGoruntule", "Siparis")';

        $('#searchResults').load(url, { SiparisId: _siparisId });
        $('#showDuzenleModal').modal('show');
    }

    function SiparisIndir(_siparisId) {
        var excelName = _siparisId + "_nolu_siparis" + ".xlsx";
        var pdfName = _siparisId + "_nolu_siparis" + ".pdf";

        Swal.fire({
            title: 'Hangi formatta indirmek istesiniz?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            denyButtonColor: '#d33',
            cancelButtonText: `Vazgeç`,
            confirmButtonText: `Excel İndir`,
            denyButtonText: `Pdf İndir`,
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "@Url.RouteUrl(new
                                   { Controller = "Siparis", Action = "StoktanIndir" })/?file=" + excelName;
            } else if (result.isDenied) {

                $.ajax({
                    url: '@Url.Action("StoktanSiparisPdfYazdir", "Siparis")',
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    data: { 'SiparisId': _siparisId },
                    dataType: 'html'
                })
                .success(function (result) {
                   $("#yazdirPdfKayitlar").css("visibility", "visible");
                   $('#yazdirPdfKayitlar').html(result);
                    var doc = window.jspdf.jsPDF("portrait");

                   html2canvas($("#yazdirPdfKayitlar")[0]).then((canvas) => {
                        const pageWidth = doc.internal.pageSize.getWidth();
                        const pageHeight = doc.internal.pageSize.getHeight();

                        const widthRatio = pageWidth / canvas.width;
                        const heightRatio = pageHeight / canvas.height;
                        const ratio = widthRatio > heightRatio ? heightRatio : widthRatio;

                        const canvasWidth = canvas.width * ratio;
                        const canvasHeight = canvas.height * ratio;

                       //const marginX = (pageWidth - canvasWidth) / 10;
                       //const marginY = (pageHeight - canvasHeight) / 10;

                        doc.addImage(canvas, 'JPEG', 10, 10, 190, canvasHeight);

                        doc.save(pdfName);
                        $("#yazdirPdfKayitlar").css("visibility", "hidden");
                   });
                })
            }
        })
    }

    function FiyatGuncelle(_Id) {
        Swal.fire({
            title: 'Sistem Birim Fiyatı',
            html:
                'Alüminyum Birim Fiyatı <input id="swal-input1" class="swal2-input" autofocus >' +
                'Toplam Alüminyum Kg <input id="swal-input2" class="swal2-input" >' +
                'Toplam Alüminyum Kg Fiyatı <input id="swal-input3" class="swal2-input">',
            preConfirm: function () {
                return new Promise(function (resolve) {
                    if (true) {
                        resolve([
                            document.getElementById('swal-input1').value,
                            document.getElementById('swal-input2').value,
                            document.getElementById('swal-input3').value
                        ]);
                    }
                });
            }
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("SiparisToplamFiyatveToplamKgGuncelle", "Siparis")',
                    dataType: 'json',
                    data: { "SiparisId": _Id, "Bilgiler": result.value },
                    type: "POST"
                }).done(function (data) {
                    if (data == 'OK') {
                        Swal.fire({
                            title: 'Tamamlandı!',
                            icon: 'success',
                            timer: 1500,
                            text: 'İlgili değişiklikler yapıldı!',
                        }).then(() => {
                            window.location.href = '@Url.Action("Index", "Siparis")';
                        })
                    } else {
                        Swal.fire("Oops", "Beklenmedik hata oluştu! Hata: " + data, "error");
                    }
                });
            }
        });
    }

    function SiparisAciklamaEkle(_siparisId) {
        var _aciklama = $('#stoktanSiparisAciklamaId').val();
        $.ajax({
                url: '@Url.Action("AciklamaKaydet", "Siparis")',
            dataType: 'json',
            data: { "SiparisId": _siparisId, "Aciklama": _aciklama },
            type: "POST"
        }).done(function (data) {
            if (data == 'OK') {
                Swal.fire({
                    title: 'Kaydedildi!',
                    text: 'Kayıt başarıyla güncellendi.',
                    icon: 'success',
                    timer: 1500
                });
            } else {
                Swal.fire("Oops", "Beklenmedik hata oluştu! Hata: " + data, "error");
            }
        });
    }

    function SiparisIslemAl(_siparisId) {
        Swal.fire({
            title: 'Fiş Numarası',
            input: 'number',
            inputLabel: 'Fiş Numarası',
            showCancelButton: true,
            cancelButtonText: 'Vazgeç',
            confirmButtonText: 'İşleme Al',
            inputPlaceholder: 'Fiş numarası giriniz...',
            inputValidator: (value) => {
                if (!value) {
                    return 'Bu alan boş geçilemez!'
                }
            }
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("SiparisIslemAl", "Siparis")',
                    contentType: 'application/json; charset=utf-8',
                    type: "POST",
                    data: '{ "SiparisId":"' + _siparisId + '", "FisNo":"' + result.value + '"}'
                }).done(function (data) {
                    if (data == 'OK') {
                        Swal.fire({
                            title: 'Tamamlandı!',
                            icon: 'success',
                            timer: 1500,
                            text: 'Sipariş işleme alındı!',
                        }).then(() => {
                            window.location.href = '@Url.Action("Stoktan", "Siparis")';
                        })
                    } else {
                        Swal.fire("Oops", "Beklenmedik hata oluştu! Hata: " + data, "error");
                    }
                });
            }
        });
    }

    function SiparisFisNoDuzenle(_Id, _fisNo) {
        Swal.fire({
            title: 'Fiş Numarası',
            input: 'number',
            inputLabel: 'Fiş Numarası',
            showCancelButton: true,
            cancelButtonText: 'Vazgeç',
            confirmButtonText: 'Kaydet',
            inputPlaceholder: 'Fiş numarası giriniz...',
            inputValidator: (value) => {
                if (!value) {
                    return 'Bu alan boş geçilemez!'
                }
            },
            inputValue: _fisNo
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("SiparisFisNoDuzenle", "Siparis")',
                    contentType: 'application/json; charset=utf-8',
                    type: "POST",
                    data: '{ "SiparisId":"' + _Id + '", "FisNo":"' + result.value + '"}'
                }).done(function (data) {
                    if (data == 'OK') {
                        Swal.fire({
                            title: 'Tamamlandı!',
                            icon: 'success',
                            timer: 1500,
                            text: 'Fiş numarası değiştirildi!',
                        }).then(() => {
                            window.location.href = '@Url.Action("Stoktan", "Siparis")';
                        })
                    } else {
                        Swal.fire("Oops", "Beklenmedik hata oluştu! Hata: " + data, "error");
                    }
                });
            }
        });
    }

    function StoktanSiparisSil(_siparisId) {
        Swal.fire({
            title: 'Emin misin?',
            text: 'Bu kaydı silmek istediğine emin misin?',
            icon: 'warning',
            cancelButtonText: 'Vazgeç',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet, sil!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                url: '@Url.Action("StoktanSiparisSil", "Siparis")',
                dataType: 'json',
                data: { "SiparisId": _siparisId },
                type: "POST"
                }).done(function (data) {
                    if (data == 'OK') {
                        Swal.fire({
                            title: 'Silindi!',
                            text: 'Kayıt başarıyla silindi.',
                            icon: 'success',
                            timer: 1500
                        }).then(() => {
                             window.location.href = '@Url.Action("Stoktan", "Siparis")';
                        });
                    } else {
                        Swal.fire("Oops", "Beklenmedik hata oluştu! Hata: " + data, "error");
                    }
                });
            }
        });
    }

    function SiparisDurumGuncelle(buttonId) {
        var onaylandiMi = false;
        if (buttonId == 1) {
            if (durumId == 7) {
                //------------------------//
                onaylandiMi = true;
                $('#modalDurumGuncelle').modal('toggle');
                Swal.fire({
                    title: 'Fiş Numarası',
                    input: 'number',
                    inputLabel: 'Fiş Numarası',
                    showCancelButton: false,
                    confirmButtonText: 'Bitir',
                    inputPlaceholder: 'Fiş numarası giriniz...',
                    inputValidator: (value) => {
                        if (!value) {
                            return 'Bu alan boş geçilemez!'
                        }
                    }
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '@Url.Action("SiparisDurumGuncelleFisGir", "Siparis")',
                            contentType: 'application/json; charset=utf-8',
                            type: "POST",
                            data: '{ "SiparisId":"' + siparisId4Durum + '", "DurumId":"' + 4 + '", "FisNo":"' + result.value + '"}'
                        }).done(function (data) {
                            if (data == 'OK') {
                                Swal.fire({
                                    title: 'Tamamlandı!',
                                    icon: 'success',
                                    timer: 1500,
                                    text: 'Sipariş başarıyla tamamlandı!',
                                }).then(() => {
                                    window.location.href = '@Url.Action("Stoktan", "Siparis")';
                                })
                            } else {
                                Swal.fire("Oops", "Beklenmedik hata oluştu! Hata: " + data, "error");
                            }
                        });
                    }
                });
                //------------------------//
            } else {
                if (durumId == 2) {
                    durumId = 6;
                } else if (durumId == 6) {
                    durumId = 7;
                } else {
                    durumId = 2;
                }
            }
        } else if (buttonId == 2) {
            durumId = 3; //reddet butonuna basıldı reddedildiye setliyoruz.
        };
        if (!onaylandiMi) {
            $.ajax({
            type: 'POST',
            url: '/Siparis/SiparisDurumGuncelle',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: '{ "SiparisId":"' + siparisId4Durum + '", "DurumId":"' + durumId + '"}',
            success: function (result) {
                    if (result == 'OK') {
                        Swal.fire({
                            title: 'Güncellendi!',
                            text: 'Sipariş başarıyla onaylandı!',
                            icon: 'success',
                            timer: 1500
                        }).then(() => {
                            window.location.href = '@Url.Action("Stoktan", "Siparis")';
                        });
                    } else if (result == 'NOK') {
                        Swal.fire({
                            title: 'İptal Edildi!',
                            text: 'Sipariş iptal edildi!',
                            icon: 'error',
                            timer: 1500
                        }).then(() => {
                            window.location.href = '@Url.Action("Stoktan", "Siparis")';
                        });
                    }
                    $('#modalDurumGuncelle').modal('toggle');
                    window.setTimeout(function () { location.reload() }, 1800)
                },
                error: function (err) {
                    alert(err);
                }
            });
        }
    }

    function ImalatDurumGuncelle(_Id) {
        Swal.fire({
            title: 'İmalat Durumu Seçiniz',
            input: 'select',
            inputOptions: {
                'islembekleme': 'İŞLEM BEKLEMEDE',
                'boyada': 'BOYADA',
                'cambekleme': 'CAM BEKLİYOR',
                'imalatbekleme': 'İMALATI BEKLİYOR',
                'imalatta': 'İMALATTA',
                'odemebekleme': 'ÖDEME BEKLİYOR',
                'sevkiyatbekleme': 'SEVKİYAT BEKLİYOR',
                'sevkedildi': 'SEVK EDİLDİ',
                'disImalat': 'DIŞ İMALATTA'
            },
            showCancelButton: true,
            cancelButtonText: 'Vazgeç',
            confirmButtonText: 'Kaydet',
            inputPlaceholder: 'Durum seçiniz...',
            inputValidator: (value) => {
                if (!value) {
                    return 'Bu alan boş geçilemez!'
                }
            },
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("SiparisImalatDurumGuncelleme", "Siparis")',
                    contentType: 'application/json; charset=utf-8',
                    type: "POST",
                    data: '{ "SiparisId":"' + _Id + '", "Durum":"' + result.value + '"}'
                }).done(function (data) {
                    if (data == 'OK') {
                        Swal.fire({
                            title: 'Tamamlandı!',
                            icon: 'success',
                            timer: 1500,
                            text: 'Durum bilgisi değiştirildi!',
                        }).then(() => {
                            window.location.href = '@Url.Action("Stoktan", "Siparis")';
                        })
                    } else {
                        Swal.fire("Oops", "Beklenmedik hata oluştu! Hata: " + data, "error");
                    }
                });
            }
        });
    }

    var durumId = null;
    var siparisId4Durum = null;
    $(document).ready(function () {
        $('#modalDurumGuncelle').on('show.bs.modal', function (e) {
            var siparisDurumIds = $(e.relatedTarget).data('id');
            var siparisSplit = siparisDurumIds.split('+');

            $('#siparisId').text(siparisSplit[0]);
            siparisId4Durum = siparisSplit[0];
            durumId = siparisSplit[1];
            if (durumId == 2) {
                $('#durumModalButton').text('SEVKİYATA GÖNDER');
            } else if (durumId == 1) {
                $('#durumModalButton').text('ONAYLA');
            } else if (durumId == 6) {
                $('#durumModalButton').text('SEVKİYATI ONAYLA');
            } else if (durumId == 7) {
                $('#durumModalButton').text('SİPARİŞİ BİTİR');
            }
        });
    });
</script>

<div class="block-header">
    <h2>
        Sipariş Yönetimi
        <small>Siparişlerinizle ilgili işlemleri yönetebileceğiniz sayfadır.</small>
    </h2>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Sipariş Listesi
                </h2>
            </div>
            <div class="body">
                <button type="button" onclick="location.href='@Url.Action("StoktanSiparis", "Siparis")'" class="btn btn-warning waves-effect">
                    <i class="material-icons">shopping_cart</i>
                    <span>Stoktan Satış</span>
                </button>

                <div style="padding-top:10px;" class="table-responsive">
                    <table id="siparisTablosu" class="table table-bordered table-striped table-hover dataTable js-exportable-stoktan-siparis">
                        <thead>
                            <tr>
                                <th>Sipariş No</th>
                                <th>Fiş No</th>
                                <th>Müşteri Adı Soyadı - Şirket Adı</th>
                                <th>Sipariş Tür</th>
                                <th>Durum Bilgisi</th>
                                <th>İşlem Durumu</th>
                                <th>Onay / İptal Tarihi</th>
                                <th>Onay / İptal Kullanıcısı</th>
                                <th>İmalat Durumu</th>
                                <th>Teslim Onay Tarihi</th>
                                <th>Son Güncelleme Tarihi</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FisNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MusteriTamAdi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SiparisTur)
                                    </td>
                                    @{
                                        switch ((int)item.DurumId)
                                        {
                                            case (int)Durumlar.Beklemede: @Html.Raw("<td class='bg-warning'><b>BEKLEMEDE</b></td>");
                                            break;
                                            case (int)Durumlar.Onaylandı: @Html.Raw("<td class='bg-success'><b>ONAYLANDI</b></td>");
                                            break;
                                            case (int)Durumlar.Reddedildi: @Html.Raw("<td class='bg-danger'><b>REDDEDİLDİ</b></td>");
                                            break;
                                            case (int)Durumlar.TeslimEdildi: @Html.Raw("<td class='bg-success'><b>TESLİM EDİLDİ</b></td>");
                                            break;
                                            case (int)Durumlar.ImalataGonderildi: @Html.Raw("<td class='bg-info'><b>İMALATA GÖNDERİLDİ</b></td>");
                                            break;
                                            case (int)Durumlar.Sevkiyatta: @Html.Raw("<td class='bg-orange'><b>SEVKİYATA HAZIR</b></td>");
                                            break;
                                            case (int)Durumlar.SevkiyatOnaylandi: @Html.Raw("<td class='bg-green'><b>SEVKİYAT ONAYLANDI</b></td>");
                                            break;

                                            default:
                                                break;
                                        }
                                    }
                                    @{
                                        switch (item.IslemDurum)
                                        {
                                            case "İşlem Beklemede": @Html.Raw("<td class='bg-warning'><b>İŞLEM BEKLEMEDE</b></td>")
                                            break;
                                            case "İşlem Onaylandı": @Html.Raw("<td class='bg-success'><b>İŞLEM ONAYLANDI</b></td>")
                                            break;

                                            default: @Html.Raw("<td></td>")
                                            break;
                                        }
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OnayIptalTarihi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KullaniciTamAdi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ImalatDurum)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TeslimTarihi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GuncellemeTarihi)
                                    </td>
                                    <td>
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="Görüntüle" onclick="SiparisDetayiGoruntule('@item.Id')"
                                                class="btn bg-blue btn-circle waves-effect waves-circle waves-float">
                                            <i class="material-icons">content_copy</i>
                                        </button>
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="İndir" onclick="SiparisIndir('@item.Id')"
                                                class="btn bg-indigo btn-circle waves-effect waves-circle waves-float">
                                            <i class="material-icons">file_download</i>
                                        </button>
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="Birim Fiyat Güncelle" onclick="FiyatGuncelle('@item.Id')"
                                                class="btn bg-blue-grey btn-circle waves-effect waves-circle waves-float">
                                            <i class="material-icons">attach_money</i>
                                        </button>
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="İmalat Durumu Güncelle" onclick="ImalatDurumGuncelle('@item.Id')"
                                                class="btn bg-yellow btn-circle waves-effect waves-circle waves-float">
                                            <i class="material-icons">sync</i>
                                        </button>
                                        @if (item.IslemDurum == "İşlem Beklemede")
                                        {
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="İşleme Al" onclick="SiparisIslemAl('@item.Id')"
                                                    class="btn bg-orange btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">verified_user</i>
                                            </button>
                                        }
                                        @if (item.IslemDurum == "İşlem Onaylandı" || item.FisNo != null)
                                        {
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Fiş No Değiştir" onclick="SiparisFisNoDuzenle('@item.Id', '@item.FisNo')"
                                                    class="btn bg-teal btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">spellcheck</i>
                                            </button>
                                        }
                                        @if ((int)item.DurumId == (int)Durumlar.Beklemede)
                                        {
                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Sil"
                                                    onclick="StoktanSiparisSil('@item.Id')" class="btn btn-danger btn-circle waves-effect waves-circle waves-float">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        }
                                        @if ((int)item.DurumId == (int)Durumlar.Beklemede || (int)item.DurumId == (int)Durumlar.Onaylandı || (int)item.DurumId == (int)Durumlar.Sevkiyatta || (int)item.DurumId == (int)Durumlar.SevkiyatOnaylandi)
                                        {
                                            <span data-id="@item.Id+@item.DurumId" data-toggle="modal" data-target="#modalDurumGuncelle">
                                                <a data-toggle="tooltip" class="btn btn-success btn-circle waves-effect waves-circle waves-float" data-placement="top" title="Onayla">
                                                    <i class="material-icons">update</i>
                                                </a>
                                            </span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="showDuzenleModal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div id="searchResults">

            </div>
        </div>
    </div>
</div>

<!-- Modal Guncelle -->
<div class="modal fade" id="modalDurumGuncelle" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="modalDurumGuncelleTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="mod  al-title" id="modalDurumGuncelleTitle">Emin misiniz?</h5>
            </div>
            <div class="modal-body">
                <p><font id="siparisId" style="font-weight:bold" class="text-danger"></font> sipariş numaralı kaydın durumunu güncellemek istediğinize emin misiniz?</p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="SiparisDurumGuncelle(1);" class="btn btn-success"><font id="durumModalButton"></font></button>
                <button type="button" onclick="SiparisDurumGuncelle(2);" class="btn btn-danger">REDDET</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">VAZGEÇ</button>
            </div>
        </div>
    </div>
</div>

<div id="yazdirPdfKayitlar" style="visibility:hidden"></div>
<div id="canvas"></div>