@model CamSistemWebArayuz.Models.KullaniciRolModel

@{
    ViewBag.Title = "CamSistem - Yetkilendirme";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    .row {
        margin-right: 0px;
    }
</style>
<script src="~/plugins/sweetalert/sweetalert.min.js"></script>
<link href="~/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
    function KullaniciYetkilendir() {
        var url = '@Url.Action("KullaniciYetkilendirme", "Yetki")';

        $('#searchResults').load(url);
        $('#showmodal').modal('show');
    }

    function kullaniciRolDuzenleme(_Id) {

        var url = '/Yetki/KullaniciRolDuzenleme/' + _Id;

        $('#searchResults').load(url);
        $('#showmodal').modal('show');
    }

    function deleteOrder(_Id, _sayfa) {
        swal({
            title: "Emin misin?",
            text: "Bu kaydı silmek istediğine emin misin?",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            cancelButtonText: "İptal",
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Sil",
            confirmButtonColor: "#ec6c62"
        },
        function () {
            $.ajax({
                url: '@Url.Action("KullaniciRolSil", "Yetki")',
                dataType: 'json',
                data: { "KullaniciRolId": _Id, "Sayfa": _sayfa },
                type: "POST"
            })
            .done(function (data) {
                if (data == 'OK') {
                    sweetAlert
                        ({
                            title: "Silindi!",
                            text: "Kayıt başarıyla silindi!",
                            type: "success",
                            timer: 1500
                        },
                            function () {
                                window.location.href = '@Url.Action("Index", "Yetki")';
                            });
                }else if (data == 'NOK') {
                    sweetAlert
                        ({
                            title: "Hata!",
                            text: "Bu rol kullanıcı rol tanımlanmasında kullanılmıştır. Öncelikle bu rolün kullanıldığı kullanıcı rollerinin değiştirilmesi gerekmektedir!",
                            type: "error",
                        });
                }
                else {
                    swal("Oops", "Beklenmedik hata oluştu! Hata: " + data, "error");
                }
            })
            .error(function (data) {
                swal("Oops", "Beklenmedik hata oluştu!", "error");
            });
        });
    }
</script>

<div id="showmodal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="searchResults">

            </div>
        </div>
    </div>
</div>

<div class="block-header">
    <h2>
        Yetkilendirme
        <small>Kullanıcıların hangi sayfalara işlem yapabileceğini tanımladığınız sayfadır.</small>
    </h2>
</div>

<div class="row clearfix">   
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Yetkilendirilen Kullanıcı Listesi
                </h2>
            </div>
            <div class="body">
                <button type="button" onclick="KullaniciYetkilendir()" class="btn btn-primary waves-effect">
                    <i class="material-icons">new_releases</i>
                    <span>Kullanıcıya Rol Tanımla</span>
                </button>
                <div style="padding-top:10px;" class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Kullanıcı E-Posta</th>
                                <th>Kullanıcı Adı Soyadı</th>
                                <th>Rol Adı</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.KullaniciRols)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KullaniciModel.KullaniciMail)
                                    </td>
                                    <td>
                                        @Html.Raw(item.KullaniciModel.KullaniciAdi + " " + item.KullaniciModel.KullaniciSoyadi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RolModel.RolAdi)
                                    </td>
                                    <td>
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="Düzenle"
                                                onclick="kullaniciRolDuzenleme('@item.Id')"
                                                class="btn bg-green btn-circle waves-effect waves-circle waves-float">
                                            <i class="material-icons">edit</i>
                                        </button>                                        
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="Sil"
                                                onclick="deleteOrder('@item.Id', 'kullaniciRol')" class="btn btn-danger btn-circle waves-effect waves-circle waves-float">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Tanımlanan Rol Listesi
                </h2>
            </div>
            <div class="body">
                <button type="button" onclick="location.href='@Url.Action("RolTanimlama", "Yetki")'" class="btn btn-warning waves-effect">
                    <i class="material-icons">new_releases</i>
                    <span>Yeni Rol Oluştur</span>
                </button>
                <div style="padding-top:10px;" class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Rol Adı</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Rols)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RolAdi)
                                    </td>                                    
                                    <td>
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="Düzenle"
                                                onclick="location.href='@Url.Action("RolDuzenleme", "Yetki", new { RolId = item.Id })'"
                                                class="btn bg-green btn-circle waves-effect waves-circle waves-float">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" data-toggle="tooltip" data-placement="top" title="Sil"
                                                onclick="deleteOrder('@item.Id', 'rol')" class="btn btn-danger btn-circle waves-effect waves-circle waves-float">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

